@font-face {
    font-family: OutfitBold;
    src: url("/fuentes/outfit/Outfit-Bold.ttf");
}

@font-face {
    font-family: OutfitLight;
    src: url("/fuentes/outfit/Outfit-Light.ttf");
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

audio {
    display: block;
    margin: auto;
}

/* ################################################# INDEX ##############################################################*/
/* ------------------------------ FONDO INDEX ---------------------------------------------------------- */

#body-index {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background: red;
    /* background-image: url("../imagenes/fondo_ferrari_index.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

/* ------------------------------ Header ---------------------------------------------------------- */
#div_header {
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 40px;
    margin-top: 1px;
    z-index: 2;
}

#linea_header {
    position: fixed;
    width: 100%;
    height: 3.5%;
    background: red;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#header {
    display: grid;
    grid: auto-flow/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    border-radius: 24px;
    color: #000000;
    border: red solid 6px;
    padding-left: 0px;
    height: 35px;
    background: rgb(255, 255, 255);
    box-shadow: 10px, 10px, black;
}

#header>#header_opcion_1 {
    padding: 4px;
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition: color .5s ease;
    border-radius: 20px;
}

#header_opcion_1:hover {
    transition: color .3s ease;
    background: rgba(255, 0, 0, 1);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#header>#header_opcion_2 {
    padding: 4px;
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition: color .5s ease;
    border-radius: 20px;
}

#header_opcion_2:hover {
    transition: color .3s ease;
    background: rgba(255, 0, 0, 1);
    box-shadow: -1px -1px 50px black;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#header>#header_opcion_3 {
    padding: 4px;
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition: color .5s ease;
    border-radius: 20px;
}

#header_opcion_3:hover {
    transition: color .3s ease;
    background: rgba(255, 0, 0, 1);
    box-shadow: -1px -1px 50px black;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#header>#header_opcion_4 {
    padding: 4px;
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition: color .5s ease;
    border-radius: 20px;
}

#header_opcion_4:hover {
    transition: color .3s ease;
    background: rgba(255, 0, 0, 1);
    box-shadow: -1px -1px 50px black;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#header>#header_opcion_5 {
    padding: 4px;
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition: color .5s ease;
    border-radius: 20px;
}

#header_opcion_5:hover {
    transition: color .3s ease;
    background: rgba(255, 0, 0, 1);
    box-shadow: -1px -1px 50px black;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#header>#header_opcion_6 {
    padding: 4px;
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition: color .5s ease;
    border-radius: 20px;
}

#header_opcion_6:hover {
    transition: color .3s ease;
    background: rgba(255, 0, 0, 1);
    box-shadow: -1px -1px 50px black;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#header>#header_opcion_7 {
    padding: 4px;
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition: color .5s ease;
    border-radius: 20px;
}

#header_opcion_7:hover {
    transition: color .3s ease;
    background: rgba(255, 0, 0, 1);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#header>#header_opcion_8 {
    padding: 4px;
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition: color .5s ease;
    border-radius: 20px;
}

#header_opcion_8:hover {
    transition: color .3s ease;
    background: rgba(255, 0, 0, 1);
    box-shadow: -1px -1px 50px black;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

/* quitar subrayado a los links del header */
a {
    text-decoration: none;
    color: inherit;
}

/* ------------------------------ Titulo ---------------------------------------------------------- */
#div_titulo {
    z-index: 0;
    position: fixed;
    display: grid;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    top: 40px;
    margin-top: 150px;
    width: 100%;
    height: 80px;
    text-shadow: 1px 1px 10px, 10px black;
    color: rgb(255, 255, 255);
}

#div_titulo>#ferrari_logo {
    z-index: 0;
    grid-area: 2 / 1 / 5 / 2;
    width: 150px;
    height: 250px;
    margin-left: 100%;
}

#div_titulo>#titulo {
    grid-area: 2 / 2 / 4 / 6;
    z-index: 0;
    margin-left: 180px;
    font-family: "OutfitBold";
    font-size: 80px;
}

#div_titulo>#parrafo_titulo {
    grid-area: 4 / 2 / 4 / 6;
    margin-top: 150px;
    margin-left: 185px;
    z-index: 0;
    font-family: "OutfitLight";
    font-size: 30px;
}

/* ------------------------------ Main div ---------------------------------------------------------- */
#div_one {
    float: left;
    padding: 0px;
    width: 100%;
    height: 800px;
    margin-top: 600px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#div_one>#div_1 {
    float: left;
    align-content: center;
    justify-content: center;
    background-color: #ffffff;
    grid-area: 1 / 1 / 4 / 4;
    /* -------texto ------------------------------- */
}

#h2_div_one_div_1 {
    text-align: center;
    font-family: OutfitBold;
    font-size: 30px;
    margin-top: 0px;
}

#parrafo_div_one_div_1 {
    text-align: justify;
    font-family: OutfitLight;
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(0, 0, 0);
}

/* -----------imagen div 2 ---------- */
#div_one>#div_2 {
    float: left;
    padding: 10px;
    grid-area: 1 / 4 / 4 / 6;
    background-color: #ffffff;
}

#ferrari_f1_1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    /*box-shadow: 0px 20px 20px rgb(0, 0, 0);*/
}

#div_one>#div_3 {
    float: left;
    margin: 10px;
    height: 100px;
    background-color: #000000;
    grid-area: 4 / 1 / 4 / 8;
    border-radius: 18px;
}

#div_3>#parrafo_divOne_div1_index {
    float: left;
    margin-left: 20%;
    padding-top: 6px;
    align-content: center;
    justify-content: center;
    font-family: OutfitBold;
    font-size: 25px;
    color: white;
}

#div_3>#audio_motor_f1 {
    float: left;
    margin-left: 20%;
    padding-top: 30px;
}

#div_one>#div_4 {
    float: left;
    background-color: #ffffff;
    grid-area: 5 / 1 / 5 / 6;
}

#footer_index {
    margin-top: 50px;
    background-color: red;
    width: 100%;
    height: 200px;
    text-align: center;
}

#parrafo_footer_index {
    margin: 20px;
    font-family: OutfitLight;
    color: white;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

/* ################################################ HISTORIA ################################################################*/
* {
    box-sizing: border-box;
}

/* Set a background color */
#body_historia {
    background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(0, 0, 0));
}

#div_historia {
    padding: 20px;
}

#historia_div1 {
    position: relative;
    width: 90%;
    height: 500px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:        ". . ."        "div_historia_texto div_historia_texto div_historia_imagen"        ". . .";
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#div_historia_texto {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: "OutfitLight";
    font-size: 18px;
    height: auto;
    text-align: justify;
    align-content: center;
    justify-content: center;
    background-color: #ffffff;
    grid-area: div_historia_texto;
}

#div_historia_texto>h1 {
    text-align: center;
    font-family: "OutfitBold";
    font-size: 40px;
    margin-bottom: 20px;
}

#div_historia_imagen {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    grid-area: div_historia_imagen;
    height: 500px;
    width: 600px;
}

#div_historia_imagen>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    top: 0;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

/* Container around content */
.container {
    top: 50px;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(255, 230, 0);
    border: 4px solid #ffffff;
    top: 30%;
    border-radius: 40px;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 70px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 80px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 30px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

#footer_historia {
    margin-top: 50px;
    background-color: red;
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
    float: left;
}