@font-face {
    font-family: OutfitBold;
    src: url("/fuentes/outfit/Outfit-Bold.ttf");
} 
@font-face {
    font-family: OutfitLight;
    src: url("/fuentes/outfit/Outfit-Light.ttf");
}

body {
    background-image: url("/imagenes/artistic-blurry-colorful-wallpaper-background.jpg");
    margin: auto;
}

/* ------------------------------ Video ---------------------------------------------------------- */
#div_video_fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}#div_video_fondo > #video_fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------------------ Header ---------------------------------------------------------- */
#div_header {
    position: fixed;
    display: flex;
    text-align: center;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 40px;
    margin: auto;
    background-color: rgba(255, 255, 255, .16);
    backdrop-filter: blur(10px) saturate(1);
    z-index: 2;
    /* border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.1); */
}
#header {
    display: grid;
    grid: auto-flow/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    color: #000000;
} #header > #header_opcion_1 {
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition:color .3s ease;
} #header_opcion_1:hover {
    color: white;
} #header > #header_opcion_2 {
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition:color .3s ease;
} #header_opcion_2:hover {
    color: white;
} #header > #header_opcion_3 {
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition:color .3s ease;
} #header_opcion_3:hover {
    color: white
} #header > #header_opcion_4 {
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition:color .3s ease;
} #header_opcion_4:hover {
    color: rgb(255, 255, 255);
} #header > #header_opcion_5 {
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition:color .3s ease;
} #header_opcion_5:hover {
    color: rgb(255, 255, 255);
} #header > #header_opcion_6 {
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition:color .3s ease;
} #header_opcion_6:hover {
    color: rgb(255, 255, 255);
} #header > #header_opcion_7 {
    margin: 20px;
    font-size: 15px;
    font-family: OutfitBold;
    transition:color .3s ease;
} #header_opcion_7:hover {
    color: rgb(255, 255, 255);
}
/* ------------------------------ Titulo ---------------------------------------------------------- */
#div_titulo {
    z-index: 0;  
    position: fixed;
    top: 40px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    height: 80px;
    font-family: "Outfitlight";
    font-size: 30px;
    color: rgb(255, 160, 160);
} #div_titulo > #titulo {
    z-index: 0;
    font-family: "OutfitBold";
    font-size: 60px;
    margin: auto;
} 
/* ------------------------------ Main div ---------------------------------------------------------- */
#div_one {
    float: left;
    padding: 0px;
    width: 100%;
    height: 800px;
    margin-top: 600px;
    background-color: rgb(156, 96, 96);
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
} #div_one > #div_1 {
    float: left;
    background-color: #8b0000;
    grid-area: 1 / 1 / 4 / 4;
} #div_one > #div_2 {
    float: left;
    grid-area: 1 / 4 / 4 / 6;
    background-color: #d80000;
} #div_one > #div_3 {
    float: left;
    background-color: #ff0000;
    grid-area: 4 / 1 / 6 / 6;
}